.create-container {
    background-color: #dddafe;
    height: 110vh;
}

.create-header {
    background-color: #7dbbf3;
    padding-left: 15px;
    padding-top: 0.01%;
    padding-bottom: 0.01%;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.create-box {
    max-width: 420px;
       margin: 40px auto;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
}

.create-title {
    background-color: #7dbbf3;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: -30px -30px 20px -30px;
    padding: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.create-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.create-form label {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 16px;
}

.create-form input,
.create-form textarea {
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 12px;
    padding: 8px;
    font-size: 14px;
}

.create-button {
    background-color: #7dbbf3;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-button:hover {
    background-color: #60a5e6;
}

.back-link {
    margin-top: 15px;
    font-size: 14px;
}

.back-link a {
    color: black;
    text-decoration: underline;
}